include README.md
include LICENSE
include requirements.txt
include requirements-test.txt
include pytest.ini
include app_icon.icns
recursive-include src *
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .DS_Store
